<!DOCTYPE html>
<html>
<head>
  <title>Soco</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IN/FRACCIÓN</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
